heat-curve/examples/heat-curve-basic.json
[
    {
        "id": "hc_comment",
        "type": "comment",
        "z": "flow_heat_curve",
        "name": "=== Heat Curve - Basic Example ===",
        "info": "Demonstrates heating curve (Heizkurve):\n- Send outdoor temperature as msg.payload\n- Node calculates the required flow temperature setpoint\n- Slope and offset are configurable\n- Typical use: radiator or underfloor heating control",
        "x": 270,
        "y": 40,
        "wires": []
    },
    {
        "id": "hc_inject_cold",
        "type": "inject",
        "z": "flow_heat_curve",
        "name": "Outdoor = -10°C",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "-10",
        "payloadType": "num",
        "x": 140,
        "y": 100,
        "wires": [["hc_node"]]
    },
    {
        "id": "hc_inject_mild",
        "type": "inject",
        "z": "flow_heat_curve",
        "name": "Outdoor = 5°C",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 140,
        "y": 160,
        "wires": [["hc_node"]]
    },
    {
        "id": "hc_inject_warm",
        "type": "inject",
        "z": "flow_heat_curve",
        "name": "Outdoor = 18°C",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "18",
        "payloadType": "num",
        "x": 140,
        "y": 220,
        "wires": [["hc_node"]]
    },
    {
        "id": "hc_node",
        "type": "heat-curve",
        "z": "flow_heat_curve",
        "name": "Radiator Heating",
        "slope": "1.5",
        "offset": "20",
        "minFlow": "20",
        "maxFlow": "80",
        "x": 380,
        "y": 160,
        "wires": [["hc_debug"]]
    },
    {
        "id": "hc_debug",
        "type": "debug",
        "z": "flow_heat_curve",
        "name": "Flow Temp Setpoint",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 580,
        "y": 160,
        "wires": []
    }
]
