counter/examples/counter-example.json
[
    {"id":"cnt_tab","type":"tab","label":"counter Example","disabled":false,"info":""},
    {"id":"cnt_cmt","type":"comment","z":"cnt_tab","name":"=== Counter Example ===","info":"Counts up or down on each incoming message.\nReset via msg.topic='reset'. Limits: 0-10, wraps around.","x":220,"y":40,"wires":[]},
    {"id":"cnt_i1","type":"inject","z":"cnt_tab","name":"Count up","props":[{"p":"payload","v":"","vt":"str"}],"repeat":"","once":false,"payload":"","payloadType":"str","x":110,"y":100,"wires":[["cnt_n"]]},
    {"id":"cnt_i2","type":"inject","z":"cnt_tab","name":"Reset","props":[{"p":"topic","v":"reset","vt":"str"}],"repeat":"","once":false,"payload":"","payloadType":"str","x":110,"y":140,"wires":[["cnt_n"]]},
    {"id":"cnt_n","type":"counter","z":"cnt_tab","name":"","direction":"up","step":1,"initialValue":0,"min":0,"max":10,"onLimit":"wrap","persistent":false,"wires":[["cnt_d"]],"x":310,"y":120},
    {"id":"cnt_d","type":"debug","z":"cnt_tab","name":"count","active":true,"tosidebar":true,"complete":"true","targetType":"full","x":480,"y":120,"wires":[]}
]
