scale/examples/scale-basic.json
[
    {
        "id": "sc_comment",
        "type": "comment",
        "z": "flow_scale",
        "name": "=== Scale - Basic Example ===",
        "info": "Demonstrates linear scaling (range mapping):\n- Input range 4–20 mA mapped to 0–100%\n- Send a raw value (e.g. from ADC or sensor)\n- Node outputs the scaled engineering value\n- Useful for 4-20mA, 0-10V, or any range conversion",
        "x": 250,
        "y": 40,
        "wires": []
    },
    {
        "id": "sc_inject_min",
        "type": "inject",
        "z": "flow_scale",
        "name": "4 mA (0%)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "4",
        "payloadType": "num",
        "x": 120,
        "y": 100,
        "wires": [["sc_node"]]
    },
    {
        "id": "sc_inject_mid",
        "type": "inject",
        "z": "flow_scale",
        "name": "12 mA (50%)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "12",
        "payloadType": "num",
        "x": 120,
        "y": 160,
        "wires": [["sc_node"]]
    },
    {
        "id": "sc_inject_max",
        "type": "inject",
        "z": "flow_scale",
        "name": "20 mA (100%)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 120,
        "y": 220,
        "wires": [["sc_node"]]
    },
    {
        "id": "sc_node",
        "type": "scale",
        "z": "flow_scale",
        "name": "4-20mA → 0-100%",
        "inputMin": "4",
        "inputMax": "20",
        "outputMin": "0",
        "outputMax": "100",
        "x": 360,
        "y": 160,
        "wires": [["sc_debug"]]
    },
    {
        "id": "sc_debug",
        "type": "debug",
        "z": "flow_scale",
        "name": "Scaled Value (%)",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 560,
        "y": 160,
        "wires": []
    }
]
