pid-controller/examples/pid-basic.json
[
    {
        "id": "t0_036",
        "type": "comment",
        "z": "c3995064345d68e9",
        "name": "=== PID Controller - Basic Example ===",
        "info": "Complete test for all PID features including:\n- Industry aliases (pv, sp, ff, external, cascade)\n- Tracking NaN protection\n- Feed-Forward limiting\n- Integrator soft clamp\n- Reset restores default setpoint",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "a1_036",
        "type": "inject",
        "z": "c3995064345d68e9",
        "name": "Start",
        "props": [{"p": "payload"}],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [["a2_036"]]
    },
    {
        "id": "a2_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Thermal Process",
        "func": "var temp = flow.get('temperature') || 15;\nvar output = flow.get('heaterOutput') || 0;\nvar ambient = flow.get('ambient') || 10;\nvar outside = flow.get('outsideTemp') || 10;\nvar disturbance = flow.get('disturbance') || 0;\n\nvar outsideEffect = (outside - 10) * 0.01;\nvar heatGain = output * 0.05;\nvar heatLoss = (temp - ambient) * 0.02 - outsideEffect;\ntemp = temp + heatGain - heatLoss + disturbance;\n\nvar noise = (Math.random() - 0.5) * 0.2;\nvar measuredTemp = temp + noise;\n\nflow.set('disturbance', 0);\nflow.set('temperature', temp);\n\nmsg.payload = Math.round(measuredTemp * 10) / 10;\nmsg.actual = Math.round(temp * 10) / 10;\nmsg.ff = (10 - outside) * 0.5;\n\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 100,
        "wires": [["a3_036"]]
    },
    {
        "id": "a3_036",
        "type": "pid-controller",
        "z": "c3995064345d68e9",
        "name": "PID - Room Temperature",
        "setpoint": "22",
        "useXp": true,
        "Kp": "20",
        "Ti": "300",
        "Td": "0",
        "outMin": "0",
        "outMax": "100",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": true,
        "ffGain": "1",
        "x": 570,
        "y": 100,
        "wires": [["a4_036", "a5_036"], ["a6_036"]]
    },
    {
        "id": "a4_036",
        "type": "function",
        "z": "c3995064345d68e9",
        "name": "Save Output",
        "func": "flow.set('heaterOutput', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "a5_036",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "PID Output",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "a6_036",
        "type": "debug",
        "z": "c3995064345d68e9",
        "name": "Status",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 770,
        "y": 220,
        "wires": []
    }
]
