pid-controller/examples/pid-cascade.json
[
    {
        "id": "casc036_header",
        "type": "comment",
        "z": "casc036_flow",
        "name": "=== CASCADE CONTROL (PID Controller) ===",
        "info": "Demonstrates cascade control with tracking mode.\n\nOuter PID (Room Temp) → Inner PID (Flow Temp) → Valve\n\nTracking prevents integrator windup when inner loop saturates.",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "casc036_start",
        "type": "inject",
        "z": "casc036_flow",
        "name": "Start Cascade",
        "props": [{"p": "payload"}],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 140,
        "wires": [["casc036_process"]]
    },
    {
        "id": "casc036_process",
        "type": "function",
        "z": "casc036_flow",
        "name": "Thermal Process (Room + Flow)",
        "func": "var roomTemp = flow.get('roomTemp') || 18;\nvar flowTemp = flow.get('flowTemp') || 30;\nvar valveOutput = flow.get('valve') || 0;\nvar outsideTemp = flow.get('outside') || 5;\n\nvar flowHeatGain = valveOutput * 0.8;\nvar flowHeatLoss = (flowTemp - 20) * 0.3;\nflowTemp = flowTemp + flowHeatGain - flowHeatLoss;\nflowTemp = Math.max(20, Math.min(80, flowTemp));\n\nvar roomHeatGain = (flowTemp - roomTemp) * 0.02;\nvar roomHeatLoss = (roomTemp - outsideTemp) * 0.015;\nroomTemp = roomTemp + roomHeatGain - roomHeatLoss;\n\nroomTemp += (Math.random() - 0.5) * 0.1;\nflowTemp += (Math.random() - 0.5) * 0.2;\n\nflow.set('roomTemp', roomTemp);\nflow.set('flowTemp', flowTemp);\n\nmsg.payload = Math.round(roomTemp * 10) / 10;\nmsg.flowTemp = Math.round(flowTemp * 10) / 10;\n\nvar innerOutput = flow.get('innerOutput');\nif (innerOutput !== undefined) {\n    msg.trackingValue = innerOutput;\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 420,
        "y": 140,
        "wires": [["casc036_outer_pid"]]
    },
    {
        "id": "casc036_outer_pid",
        "type": "pid-controller",
        "z": "casc036_flow",
        "name": "OUTER PID (Room → Flow SP)",
        "setpoint": "22",
        "useXp": true,
        "Kp": "20",
        "Ti": "120",
        "Td": "0",
        "outMin": "30",
        "outMax": "70",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": false,
        "ffGain": "1",
        "x": 720,
        "y": 140,
        "wires": [["casc036_outer_to_inner"], []]
    },
    {
        "id": "casc036_outer_to_inner",
        "type": "function",
        "z": "casc036_flow",
        "name": "Outer Output → Inner SP",
        "func": "var flowSP = msg.payload;\nvar flowPV = flow.get('flowTemp') || 30;\nflow.set('flowSP', flowSP);\nmsg.setpoint = flowSP;\nmsg.payload = flowPV;\nreturn msg;",
        "outputs": 1,
        "x": 990,
        "y": 140,
        "wires": [["casc036_inner_pid"]]
    },
    {
        "id": "casc036_inner_pid",
        "type": "pid-controller",
        "z": "casc036_flow",
        "name": "INNER PID (Flow → Valve)",
        "setpoint": "40",
        "useXp": true,
        "Kp": "10",
        "Ti": "30",
        "Td": "0",
        "outMin": "0",
        "outMax": "100",
        "rateLimit": "0",
        "reverseActing": false,
        "centeredBand": false,
        "manualMode": false,
        "manualValue": "0",
        "decimals": "1",
        "maxInterval": "5",
        "ffEnable": false,
        "ffGain": "1",
        "x": 1240,
        "y": 140,
        "wires": [["casc036_inner_save"], []]
    },
    {
        "id": "casc036_inner_save",
        "type": "function",
        "z": "casc036_flow",
        "name": "Save Valve + Track Back",
        "func": "flow.set('valve', msg.payload);\nflow.set('innerOutput', msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 1490,
        "y": 140,
        "wires": [["casc036_debug"]]
    },
    {
        "id": "casc036_debug",
        "type": "debug",
        "z": "casc036_flow",
        "name": "Valve Output",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 1700,
        "y": 140,
        "wires": []
    }
]
